<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>


<!-- Star background -->
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<!-- parallax text/js -->
<div id="parallax">
    <div class="layer" data-depth="0.6">

        <!-- text -->
        <div class="some-space">
            <h1>Welcome</h1>
        </div>

    </div>
    <div class="layer" data-depth="0.4">
        <div id="particles-js"></div>
    </div>

    <!-- Button -->
    <div class="layer" data-depth="0.3">
        <div class="some-more-space1"><a href="https://github.com/DavidRomanovizc/aiohttp-template" target="blank">
            Template for aiohttp client</a>
        </div>
    </div>
</div>
<script src="js/index.js"></script>
</body>
</html>